<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Generic_Move_Order.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Generic_Move_Order.Properties.Settings>
      <setting name="report" serializeAs="String">
        <value>C:\Report</value>
      </setting>
      <setting name="reports" serializeAs="String">
        <value>C:\Report</value>
      </setting>
    </Generic_Move_Order.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="MoveOrderEntities" connectionString="metadata=res://*/Model.UMDbModel.csdl|res://*/Model.UMDbModel.ssdl|res://*/Model.UMDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.2.6,1433;initial catalog=MoveOrder;persist security info=True;user id=sa;password=ULtR@MaVD3p0t2o22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>